---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import Linkedin from "../icons/Linkedin.astro";
import Mail from "../icons/Mail.astro";
import SocialPill from "../components/SocialPill.astro";
import Github from "../icons/Github.astro";
import Projects from "../components/Projects.astro";
import Container from "../components/Container.astro";

const skills = [{name: "MySQL",color: ""},{name: "Portainer",color: ""},{name: "Javascript",color: ""},{name: "Java",color: ""},{name: "Git",color: ""},{name: "React",color: ""},{name: "NextJS",color: ""},{name: "Node",color: ""},{name: "Docker",color: ""},{name: "MongoDB",color: ""},{name: "CSS",color: ""},{name: "HTML",color: ""},{name: "OpenCV",color: ""},{name: "MTCNN Tensorflow",color: ""},{name: "API Rest",color: ""},{name: "JWT",color: ""},{name: "Mongoose",color: ""},{name: "Express",color: ""},{name: "Flask",color: ""},{name: "Python",color: ""},{name: "PHP",color: ""},{name: "Symfony",color: ""},{name: "Doctrine",color: ""},{name: "Arquitectura Hexagonal",color: ""}
]
---

<Layout
	title="Manuel Jesús Alors Toledo - Desarrollador y Programador Web - Técnico Superior Multiplataforma"
	description="Pasión por el desarrollo de las nuevas tecnologías. Motivación por el aprendizaje y la autosuperación. Me considero un impulsor, ayudando a los demás a avanzar junto a mí profesionalmente. No pienso desaprovechar ninguna oportunidad."
>
	<main class="px-2">
		<Container id='top' class="py-44 pb-22 lg:w-[740px]">
			<h1
				class="text-white text-xl md:text-3xl lg:text-4xl font-bold flex justify-center flex-row gap-x-4 pb-4 lg:pb-6"
			>
				Manuel Jesús Alors Toledo
				<div class="flex justify-center items-center">
					<a
						href="https://www.linkedin.com/in/manuel-jes%C3%BAs-alors-toledo/"
						target="_blank"
						rel="noopener"><Badge>Buscando Trabajo</Badge></a
					>
				</div>
			</h1>
			<h2 class="text-2xl text-wrap max-w-[700px]">
				Técnico de Desarrollo de Aplicaciones <span
					class="text-purple-400">Multiplataforma.</span
				>
				Desarrollador <span class="text-purple-400">Web</span> Junior. <span
					class="text-purple-400">Andalucía</span
				>, España.
			</h2>
			<nav class="flex gap-4 mt-10 flex-wrap">
				<SocialPill
					href="https://www.linkedin.com/in/manuel-jes%C3%BAs-alors-toledo/"
				>
					<Linkedin class="w-6 h-6 md:w-8 md:h-8" />Linkedin
				</SocialPill>
				<SocialPill href="https://github.com/ManuelJesusAlorsToledo">
					<Github class="w-6 h-6 md:w-8 md:h-8" /> Github
				</SocialPill>
				<SocialPill
					href="mailto:manueljesusalorstoledo@gmail.com?subject=&body="
				>
					<Mail class="w-6 h-6 md:w-8 md:h-8" /> Mi correo
				</SocialPill>
			</nav>
		</Container>
		<Container id="proyectos" class="pl-4 lg:w-[740px]">
			<h2 class="text-2xl font-semibold mb-8">Mis proyectos</h2>
			<Projects />
		</Container>
		<Container id="sobre-mi" class="py-20 lg:w-[1500px]">
			<h1 class="text-4xl text-center mb-10">¿Quién soy, y a dónde me dirijo?</h1>

<div class="grid md:grid-cols-2 gap-8 items-start py-20">
    <div class="flex justify-center">

        <!-- TODO: Agregar Imagen en SRC -->
    
    </div>
    <div class="space-y-4">
        <p class="text-muted-foreground text-lg text-pretty">
            Pasión por el desarrollo de las nuevas tecnologías. Motivación por el aprendizaje y la autosuperación. Me considero un impulsor, ayudando a los demás a avanzar junto a mí profesionalmente. No pienso desaprovechar ninguna oportunidad.
        </p>
        <div class="flex flex-wrap gap-6">
            <!-- Tarjeta 1 -->
            <a
                href="#habilidades"
                class="cursor-pointer block flex-1 max-w-full md:max-w-[calc(50%-1rem)] p-6 bg-transparent border border-gray-700 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 group"
            >
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-white dark:text-white group-hover:text-black">
                    Habilidades Personales
                </h5>
                <ul class="mt-4 list-disc list-inside text-gray-300 dark:text-gray-400">
                    <li class="mb-2">
                        <strong class="text-white group-hover:text-gray-600 dark:text-gray-200">Habilidades interpersonales</strong>
                    </li>
                    <li class="mb-2">
                        <strong class="text-white group-hover:text-gray-600 dark:text-gray-200">Resolución de Problemas</strong>
                    </li>
                    <li class="mb-2">
                        <strong class="text-white group-hover:text-gray-600 dark:text-gray-200">Trabajo en Equipo</strong>
                    </li>
                    <li class="mb-2">
                        <strong class="text-white group-hover:text-gray-600 dark:text-gray-200">Adaptabilidad</strong>
                    </li>
                    <li class="mb-2">
                        <strong class="text-white group-hover:text-gray-600 dark:text-gray-200">Capacidad de aprendizaje</strong>
                    </li>
                    <li class="mb-2">
                        <strong class="text-white group-hover:text-gray-600 dark:text-gray-200">Habilidad para trabajar bajo presión</strong>
                    </li>
                    <!-- Agrega más habilidades aquí -->
                </ul>
            </a>

            <!-- Tarjeta 2 -->
            <a
                href="#motivacion"
                class="cursor-pointer block flex-1 max-w-full md:max-w-[calc(50%-1rem)] p-6 bg-transparent border border-gray-700 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 group"
            >
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-white dark:text-white group-hover:text-black">
                    Habilidades Técnicas
                </h5>
                <p class="font-normal text-gray-200 dark:text-gray-400 group-hover:text-gray-800">
                    {skills.map((skill) => (
                        <span
                          
                            class="m-0.5 inline-block px-1.5 py-0.5 text-xs font-medium text-purple-700 hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 rounded-lg text-center dark:border-purple-400 dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-900"
                        >
                            {skill.name}
                        </span>
                    ))}
                </p>
            </a>
        </div>

        <!-- Tarjeta 3 debajo de las dos primeras -->
        <a
            href="#educacion"
            class="cursor-pointer block mt-6 p-6 bg-transparent border border-gray-700 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 group max-w-full"
        >
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-white dark:text-white group-hover:text-black">
                Educación
            </h5>
            <ul class="mt-4 list-disc list-inside text-gray-300 dark:text-gray-400 group-hover:text-gray-800">
                <li class="mb-2">
                    <strong class="text-white group-hover:text-gray-800 dark:text-gray-200">San Francisco De Sales El Buen Amigo - Córdoba</strong> - 
                    <span class="text-gray-400 group-hover:text-gray-800 dark:text-gray-500 text-pretty">CFGS en Desarrollo de Aplicaciones Multiplataforma</span>
                    <br />
                    <span class="text-gray-400 group-hover:text-gray-600 dark:text-gray-500">2021 - 2023</span>
                </li>
                <li class="mb-2">
                    <strong class="text-white group-hover:text-gray-800 dark:text-gray-200">I.E.S Fidiana</strong> - 
                    <span class="text-gray-400 group-hover:text-gray-800 dark:text-gray-500">CFGM en Sistemas Microinformáticos y Redes</span>
                    <br />
                    <span class="text-gray-400 group-hover:text-gray-600 dark:text-gray-500">2019 - 2021</span>
                </li>
                <!-- Más elementos de lista aquí -->
            </ul>
        </a>
    </div>
</div>
		</Container>
	</main>
</Layout>
