---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '@fontsource-variable/onest';
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="background"></div>
		<Header />
		<main class="flex-grow">
		<slot />
	</main>
		<Footer />
	</body>
</html>
<style is:global>
	::selection {
  background-color: #63e; /* Color de fondo del texto seleccionado */
  color: #ffffff; /* Color del texto seleccionado */
}
	:root {
		color-scheme: light dark;
	}
	html {
		
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
		height: 100%;
	}
	body {
		background: #050505;
		display: flex;
		flex-direction: column;
		min-height: 150vh;
		
	}
	footer {
		background: transparent;
	}
	.background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: -10;
		background: radial-gradient(125% 125% at 50% 20%, #000 45%, #63e 90%);
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
